.wrapper   {
    margin: 0px !important; 
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form   {
    border-radius: 12px;
    
    padding: 30px;
    background: var(--card-color);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    transition: box-shadow 0.3s ease;
}

