body {
  background-color: var(--orange);
}

.main-header {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  height: 10vh;
}

.main-header h1 {
  text-align: center;
}

.main-footer {
  height: 10vh;
  text-align: center;
}
